<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/leaflet.css">
    <meta charset="UTF-8">
    <title>画图2</title>
</head>
<body>
<div id="mymap" style="height: 700px"></div>
<button onclick="clearone()">清除第一条线</button>

<script src="../static/js/leaflet.js"></script>
<script src="../static/js/leaflet-src.js"></script>
<script>
    var mymap = L.map('mymap').setView([30.50, 114.33], 18);

    var mylines = [];

    var mapboxtl = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 30,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoidGFsZW50bmVwdHVuZXIiLCJhIjoiY2pra2tiOXBmMXJmNDN3bzkzZGwyOGkzZCJ9.kxJs9LZLMx9XB2KTT8sB8Q'
    });

    mapboxtl.addTo(mymap);
    //定义一个点来存储初次点击的点
    var startpoint = L.latLng(200, 200);
    //定义一个点存储结束的点
    var endpoint = L.latLng(201, 201);

    mymap.on('click', function (e) {
        console.log(startpoint.lat > 180 || startpoint.lng > 180);
        if (startpoint.lat > 180 || startpoint.lng > 180) {
            startpoint = L.latLng([e.latlng.lat, e.latlng.lng]);
        }
        else if (!(startpoint.lat > 180 || startpoint.lng > 180)) {
            endpoint = L.latLng([e.latlng.lat, e.latlng.lng]);
            var temp_line = L.polyline([
                    [startpoint.lat, startpoint.lng],
                    [endpoint.lat, endpoint.lng],
                ],
                {
                    color: 'blue',
                }
            );
            temp_line.addTo(mymap);
            startpoint = endpoint;
            endpoint = L.latLng(201,201);
            mylines.push(temp_line);
        }
    })

    function clearone() {
        mylines[0].removeFrom(mymap);
        mylines.shift();
    }
</script>
</body>
</html>
